<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideabobo.service.BillMapper">
  <resultMap id="BaseResultMap" type="com.ideabobo.model.Bill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gids" jdbcType="VARCHAR" property="gids" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="shop" jdbcType="VARCHAR" property="shop" />
    <result column="ndate" jdbcType="VARCHAR" property="ndate" />
    <result column="total" jdbcType="VARCHAR" property="total" />
    <result column="gnames" jdbcType="VARCHAR" property="gnames" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="statecn" jdbcType="VARCHAR" property="statecn" />
    <result column="pnote" jdbcType="VARCHAR" property="pnote" />
    <result column="pf" jdbcType="VARCHAR" property="pf" />
    <result column="shstatecn" jdbcType="VARCHAR" property="shstatecn" />
    <result column="shnote" jdbcType="VARCHAR" property="shnote" />
    <result column="shtype" jdbcType="VARCHAR" property="shtype" />
    <result column="fhnote" jdbcType="VARCHAR" property="fhnote" />
    <result column="kid" jdbcType="VARCHAR" property="kid" />
    <result column="ktitle" jdbcType="VARCHAR" property="ktitle" />
    <result column="kcode" jdbcType="VARCHAR" property="kcode" />
    <result column="qid" jdbcType="INTEGER" property="qid" />
    <result column="qusername" jdbcType="VARCHAR" property="qusername" />
    <result column="qtel" jdbcType="VARCHAR" property="qtel" />
    <result column="bgcounts" jdbcType="VARCHAR" property="bgcounts" />
    <result column="way" jdbcType="VARCHAR" property="way" />
    <result column="ydate" jdbcType="VARCHAR" property="ydate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gids, user, uid, shop, ndate, total, gnames, sid, tel, address, note, statecn, 
    pnote, pf, shstatecn, shnote, shtype, fhnote, kid, ktitle, kcode, qid, qusername, 
    qtel, bgcounts, way, ydate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wct_bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wct_bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ideabobo.model.Bill">
    insert into wct_bill (id, gids, user, 
      uid, shop, ndate, total, 
      gnames, sid, tel, address, 
      note, statecn, pnote, 
      pf, shstatecn, shnote, 
      shtype, fhnote, kid, 
      ktitle, kcode, qid, 
      qusername, qtel, bgcounts, 
      way, ydate)
    values (#{id,jdbcType=INTEGER}, #{gids,jdbcType=VARCHAR}, #{user,jdbcType=VARCHAR}, 
      #{uid,jdbcType=VARCHAR}, #{shop,jdbcType=VARCHAR}, #{ndate,jdbcType=VARCHAR}, #{total,jdbcType=VARCHAR}, 
      #{gnames,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{statecn,jdbcType=VARCHAR}, #{pnote,jdbcType=VARCHAR}, 
      #{pf,jdbcType=VARCHAR}, #{shstatecn,jdbcType=VARCHAR}, #{shnote,jdbcType=VARCHAR}, 
      #{shtype,jdbcType=VARCHAR}, #{fhnote,jdbcType=VARCHAR}, #{kid,jdbcType=VARCHAR}, 
      #{ktitle,jdbcType=VARCHAR}, #{kcode,jdbcType=VARCHAR}, #{qid,jdbcType=INTEGER}, 
      #{qusername,jdbcType=VARCHAR}, #{qtel,jdbcType=VARCHAR}, #{bgcounts,jdbcType=VARCHAR}, 
      #{way,jdbcType=VARCHAR}, #{ydate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ideabobo.model.Bill">
    insert into wct_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gids != null">
        gids,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="shop != null">
        shop,
      </if>
      <if test="ndate != null">
        ndate,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="gnames != null">
        gnames,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="statecn != null">
        statecn,
      </if>
      <if test="pnote != null">
        pnote,
      </if>
      <if test="pf != null">
        pf,
      </if>
      <if test="shstatecn != null">
        shstatecn,
      </if>
      <if test="shnote != null">
        shnote,
      </if>
      <if test="shtype != null">
        shtype,
      </if>
      <if test="fhnote != null">
        fhnote,
      </if>
      <if test="kid != null">
        kid,
      </if>
      <if test="ktitle != null">
        ktitle,
      </if>
      <if test="kcode != null">
        kcode,
      </if>
      <if test="qid != null">
        qid,
      </if>
      <if test="qusername != null">
        qusername,
      </if>
      <if test="qtel != null">
        qtel,
      </if>
      <if test="bgcounts != null">
        bgcounts,
      </if>
      <if test="way != null">
        way,
      </if>
      <if test="ydate != null">
        ydate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gids != null">
        #{gids,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="shop != null">
        #{shop,jdbcType=VARCHAR},
      </if>
      <if test="ndate != null">
        #{ndate,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=VARCHAR},
      </if>
      <if test="gnames != null">
        #{gnames,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="statecn != null">
        #{statecn,jdbcType=VARCHAR},
      </if>
      <if test="pnote != null">
        #{pnote,jdbcType=VARCHAR},
      </if>
      <if test="pf != null">
        #{pf,jdbcType=VARCHAR},
      </if>
      <if test="shstatecn != null">
        #{shstatecn,jdbcType=VARCHAR},
      </if>
      <if test="shnote != null">
        #{shnote,jdbcType=VARCHAR},
      </if>
      <if test="shtype != null">
        #{shtype,jdbcType=VARCHAR},
      </if>
      <if test="fhnote != null">
        #{fhnote,jdbcType=VARCHAR},
      </if>
      <if test="kid != null">
        #{kid,jdbcType=VARCHAR},
      </if>
      <if test="ktitle != null">
        #{ktitle,jdbcType=VARCHAR},
      </if>
      <if test="kcode != null">
        #{kcode,jdbcType=VARCHAR},
      </if>
      <if test="qid != null">
        #{qid,jdbcType=INTEGER},
      </if>
      <if test="qusername != null">
        #{qusername,jdbcType=VARCHAR},
      </if>
      <if test="qtel != null">
        #{qtel,jdbcType=VARCHAR},
      </if>
      <if test="bgcounts != null">
        #{bgcounts,jdbcType=VARCHAR},
      </if>
      <if test="way != null">
        #{way,jdbcType=VARCHAR},
      </if>
      <if test="ydate != null">
        #{ydate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ideabobo.model.Bill">
    update wct_bill
    <set>
      <if test="gids != null">
        gids = #{gids,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="shop != null">
        shop = #{shop,jdbcType=VARCHAR},
      </if>
      <if test="ndate != null">
        ndate = #{ndate,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=VARCHAR},
      </if>
      <if test="gnames != null">
        gnames = #{gnames,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="statecn != null">
        statecn = #{statecn,jdbcType=VARCHAR},
      </if>
      <if test="pnote != null">
        pnote = #{pnote,jdbcType=VARCHAR},
      </if>
      <if test="pf != null">
        pf = #{pf,jdbcType=VARCHAR},
      </if>
      <if test="shstatecn != null">
        shstatecn = #{shstatecn,jdbcType=VARCHAR},
      </if>
      <if test="shnote != null">
        shnote = #{shnote,jdbcType=VARCHAR},
      </if>
      <if test="shtype != null">
        shtype = #{shtype,jdbcType=VARCHAR},
      </if>
      <if test="fhnote != null">
        fhnote = #{fhnote,jdbcType=VARCHAR},
      </if>
      <if test="kid != null">
        kid = #{kid,jdbcType=VARCHAR},
      </if>
      <if test="ktitle != null">
        ktitle = #{ktitle,jdbcType=VARCHAR},
      </if>
      <if test="kcode != null">
        kcode = #{kcode,jdbcType=VARCHAR},
      </if>
      <if test="qid != null">
        qid = #{qid,jdbcType=INTEGER},
      </if>
      <if test="qusername != null">
        qusername = #{qusername,jdbcType=VARCHAR},
      </if>
      <if test="qtel != null">
        qtel = #{qtel,jdbcType=VARCHAR},
      </if>
      <if test="bgcounts != null">
        bgcounts = #{bgcounts,jdbcType=VARCHAR},
      </if>
      <if test="way != null">
        way = #{way,jdbcType=VARCHAR},
      </if>
      <if test="ydate != null">
        ydate = #{ydate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ideabobo.model.Bill">
    update wct_bill
    set gids = #{gids,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      shop = #{shop,jdbcType=VARCHAR},
      ndate = #{ndate,jdbcType=VARCHAR},
      total = #{total,jdbcType=VARCHAR},
      gnames = #{gnames,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      statecn = #{statecn,jdbcType=VARCHAR},
      pnote = #{pnote,jdbcType=VARCHAR},
      pf = #{pf,jdbcType=VARCHAR},
      shstatecn = #{shstatecn,jdbcType=VARCHAR},
      shnote = #{shnote,jdbcType=VARCHAR},
      shtype = #{shtype,jdbcType=VARCHAR},
      fhnote = #{fhnote,jdbcType=VARCHAR},
      kid = #{kid,jdbcType=VARCHAR},
      ktitle = #{ktitle,jdbcType=VARCHAR},
      kcode = #{kcode,jdbcType=VARCHAR},
      qid = #{qid,jdbcType=INTEGER},
      qusername = #{qusername,jdbcType=VARCHAR},
      qtel = #{qtel,jdbcType=VARCHAR},
      bgcounts = #{bgcounts,jdbcType=VARCHAR},
      way = #{way,jdbcType=VARCHAR},
      ydate = #{ydate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>